@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.leaflet-container {
  top: 0px;
  left: 0px;

  position: absolute;

  height: 100%;
  width: 100%;

  z-index: 0 !important;
}

.line-icon {
  z-index: 1;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: rgb(255, 255, 255);
  opacity: 80%;
}
